extends ../template_admin

block head

block content
 .row
  .col-xs-12
  .box
   .box-header
    h3.box-title Order Detail
   .box-body
       #example1_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
        .row
         .col-sm-12
          #example1_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
           .row
            .col-sm-12
             #example1_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
              .row
               .col-sm-12
                table#example1.table.table-bordered.table-striped.dataTable.no-footer(role='grid', aria-describedby='example1_info')
                 thead
                  tr(role='row')
                   th.sorting_desc(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 130px;', aria-sort='descending') Product Id
                   th.sorting_desc(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 130px;', aria-sort='descending') Product Name
                   th.sorting_desc(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', aria-label='Name: activate to sort column ascending', style='width: 130px;', aria-sort='descending') Photo
                   th.sorting(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', aria-label='Status: activate to sort column ascending', style='width: 142px;') Price
                   th.sorting(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', aria-label='Status: activate to sort column ascending', style='width: 142px;') Quantity
                   th.sorting(tabindex='0', aria-controls='example1', rowspan='1', colspan='1', aria-label='Action: activate to sort column ascending', style='width: 250px;') Sub Total
                 tbody
                  -if(orderDetails != null)
                    -var s = 0
                    -for orderDetail in orderDetails
                      -s += orderDetail.price * orderDetail.quantity
                      tr
                       td= orderDetail.productId
                       td.sorting_1= orderDetail.productInfo[0].name
                       td.sorting_1
                        img(src='/images/home/' + orderDetail.productInfo[0].photo, alt='', width='110')
                       td
                        span= '$' + orderDetail.price.toFixed(2)
                       td
                        span= orderDetail.quantity
                       td
                        span= '$' + (orderDetail.price * orderDetail.quantity ).toFixed(2)
                    tr
                     td(colspan='5', align='center') 
                      h4 Total
                     td(align='left')
                      span= '$' + s.toFixed(2)  